<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<ConversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\Registros\RegistrosCliente.txt" />
			<datePattern value="yyyyMMdd'.log'" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<ConversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
    	
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IGestionJugador">
            <reliableSession enabled="true" />
            <security mode="None">
              <transport sslProtocols="None" />
            </security>
          </binding>
          <binding name="NetTcpBinding_IGestionSala">
            <reliableSession enabled="true" />
            <security mode="None">
              <transport sslProtocols="None" />
            </security>
          </binding>
          <binding name="NetTcpBinding_IGestionAmigos">
            <reliableSession enabled="true" />
            <security mode="None">
              <transport sslProtocols="None" />
            </security>
          </binding>
          <binding name="NetTcpBinding_IGestionNotificacionesAmigos">
            <reliableSession enabled="true" />
            <security mode="None">
              <transport sslProtocols="None" />
            </security>
          </binding>
          <binding name="NetTcpBinding_IGestionPartida">
            <reliableSession enabled="true" />
            <security mode="None">
              <transport sslProtocols="None" />
            </security>
          </binding>
          <binding name="NetTcpBinding_IGestionCorreos">
            <reliableSession enabled="true" />
            <security mode="None">
              <transport sslProtocols="None" />
            </security>
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://192.168.100.57:8081/IGestionJugador"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionJugador"
          contract="Servidor.IGestionJugador" name="NetTcpBinding_IGestionJugador" />
        <endpoint address="net.tcp://192.168.100.57:8081/IGestionSala"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionSala"
          contract="Servidor.IGestionSala" name="NetTcpBinding_IGestionSala" />
        <endpoint address="net.tcp://192.168.100.57:8081/IGestionAmigos"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionAmigos"
          contract="Servidor.IGestionAmigos" name="NetTcpBinding_IGestionAmigos" />
        <endpoint address="net.tcp://192.168.100.57:8081/IGestionNotificacionesAmigos"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionNotificacionesAmigos"
          contract="Servidor.IGestionNotificacionesAmigos" name="NetTcpBinding_IGestionNotificacionesAmigos" />
        <endpoint address="net.tcp://192.168.100.57:8081/IGestionPartida"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionPartida"
          contract="Servidor.IGestionPartida" name="NetTcpBinding_IGestionPartida" />
        <endpoint address="net.tcp://192.168.100.57:8081/IGestionCorreos"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionCorreos"
          contract="Servidor.IGestionCorreos" name="NetTcpBinding_IGestionCorreos" />
      </client>
    </system.serviceModel>
</configuration>