<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGestionJugador">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGestionSala">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGestionJugador1">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGestionSala1">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/DobbleServicio" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGestionJugador" contract="ServidorDobble.IGestionJugador"
        name="NetTcpBinding_IGestionJugador" />
      <endpoint address="net.tcp://localhost:8081/DobbleServicio" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGestionSala" contract="ServidorDobble.IGestionSala"
        name="NetTcpBinding_IGestionSala" />
      <endpoint address="net.tcp://localhost:8081/IGestionJugador"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionJugador1"
        contract="Servidor.IGestionJugador" name="NetTcpBinding_IGestionJugador1" />
      <endpoint address="net.tcp://localhost:8081/IGestionSala" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGestionSala1" contract="Servidor.IGestionSala"
        name="NetTcpBinding_IGestionSala1" />
    </client>
  </system.serviceModel>
</configuration>